.body {
    font-family: "Lato", sans-serif;
    margin: 0;    
    padding: 0;
    background-color: #F7F7F7;
}

.header {
    background-color: #3ebad6e3;
    height: 220px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.header-title {
    color: #feffff;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: auto;
    margin-bottom: auto;
    margin-top: auto;
}

/* card plot header */
.card {
    margin-bottom: 20px;
    /* box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18); */
    /* justify-content: center; */
    align-items: center;
    width: 100;
}

/* @media (max-width: 768px) {
    .custom-row {
      padding-top: 10px;
    }
  } */

.logo{
    height: 250px;
    padding: 0px;
    margin-bottom: auto;
    margin-top: auto;
    text-align: right;
  }

.modal-header {
  background-color: rgb(60,92,132);
  color: white;
}

@media (min-width: 1100px) {
  .col-xl-2 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .col-xl-10 {
    flex: 0 0 80%;
    max-width: 80%;
  }
}

.tooltip-inner {
  background-color: rgba(107 ,115 ,136);
  }
  .tooltip.bs-tooltip-right .arrow:before {
      border-right-color: rgba(107 ,115 ,136);
  }
  .tooltip.bs-tooltip-left .arrow:before {
      border-left-color: rgba(107 ,115 ,136);
  }
  .tooltip.bs-tooltip-bottom .arrow:before {
      border-bottom-color: rgba(107 ,115 ,136);
  }
  .tooltip.bs-tooltip-top .arrow:before {
      border-top-color: rgba(107 ,115 ,136);
  }
